#### Add LIWC Topic Data to Each Tweet

In [9]:
import pandas as pd
family_df = pd.read_csv("./Stored_Dataframes/family_related_tweetdf.csv")
del family_df["Unnamed: 0"]
del family_df["Unrelated"]
del family_df["Family_Related"] # These are either useless or known

f=open('LIWC2007_English080730_Edit.txt', encoding="utf8")
f1= f.readlines()
dimensions={}

for x in f1[1:]:
    if (x!='%\n'):
        dimensions[int(x.split("\t")[0])]= x.split("\t")[1].split('\n')[0]
    else:
        break
dimensions

words={}

for x in range(77,len(f1)):
    dim=[]
    j= f1[x].split('\t')
    for l in range(1,len(j)):
        if(l==len(j)-1):
               dim.append(j[l].split('\n')[0])
        else:
               dim.append(j[l])
    words[j[0].split('*')[0]]=dim

def sentiments(sentence, dims, words):
    word_sentiments = []
    sentence_words = sentence.split()
    for key in words:
        if key in sentence_words and key not in ['like', 'kind']:
            for dim in words[key]:
                print("{}, {}".format(key, dim))
                word_sentiments.append(dims[int(dim)])
    return word_sentiments

# sentiments('hello', dimensions, words)
# family_df['tweet_sentiments'] = family_df['clean_text'].apply(sentiments, args=(dimensions, words)) 
# family_df.to_csv('./Stored_Dataframes/family_df_with_topics.csv')

hello, 121

['social']

In [14]:
import re
from collections import Counter

def tokenize(text):
    # you may want to use a smarter tokenizer
    for match in re.finditer(r'\w+', text, re.UNICODE):
        yield match.group(0)

import liwc
parse, category_names = liwc.load_token_parser('LIWC2007_English080730.dic')

In [19]:
gettysburg = "I am so cool"
gettysburg_tokens = tokenize(gettysburg)
# now flatmap over all the categories in all of the tokens using a generator:
gettysburg_counts = Counter(category for token in gettysburg_tokens for category in parse(token))
# and print the results:
print(dict(gettysburg_counts))

{'verb': 1, 'funct': 2, 'auxverb': 1, 'present': 1, 'adverb': 1, 'conj': 1, 'affect': 1, 'posemo': 1, 'assent': 1, 'percept': 1, 'feel': 1}

In [1]:
import pandas as pd
f = pd.read_csv('./Stored_Dataframes/family_df_with_topics.csv')
f

,Unnamed: 0,clean_text,latitude,longitude,day,state,code,week,Depression_Related,Depression_Expected,Polarity,tweet_sentiments
0,0,They think my sister has Corona ðŸ‘€,37.269176,-119.306607,1,California,CA,0,0,0,0.0000,"['allpunct', 'otherpunct', 'funct', 'article',..."
1,1,Itâ€™s a sad day ðŸ˜” my mom was suppose to see her...,37.269176,-119.306607,1,California,CA,0,1,0,-0.4709,"['allpunct', 'xclmarks', 'allpunct', 'quotmark..."
2,2,Did I really just hear my mom say â€œYou got coc...,37.269176,-119.306607,1,California,CA,0,0,0,-0.8279,"['allpunct', 'xclmarks', 'allpunct', 'quotmark..."
3,3,@_abigailelainee @Bubba_Dade We already had th...,37.269176,-119.306607,2,California,CA,0,0,0,0.2960,"['allpunct', 'periods', 'allpunct', 'otherpunc..."
4,4,How would you like to #quarantine here at our ...,37.269176,-119.306607,4,California,CA,0,1,0,-0.1027,"['allpunct', 'commas', 'allpunct', 'periods', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
64672,64672,"Last week, I have Covid 29 test are done..... ...",39.700298,-90.229379,300,Illinois,IL,42,0,0,0.4404,"['allpunct', 'commas', 'allpunct', 'periods', ..."
64673,64673,"Meanwhile, in The Mid-South:Mother Nature is l...",35.051187,-89.628803,333,Tennessee,TN,47,0,0,0.4215,"['allpunct', 'colons', 'allpunct', 'commas', '..."
64674,64674,Thanks to @MarieSzaniszlo for highlighting one...,42.466997,-70.949824,312,Massachusetts,MA,44,0,0,0.1531,"['allpunct', 'apostrophes', 'allpunct', 'perio..."
64675,64675,School looks different for most kids during #C...,44.804693,-68.895946,322,Maine,ME,45,1,0,0.1154,"['allpunct', 'colons', 'allpunct', 'commas', '..."
64676,64676,Well happy early birthday to me I got to quara...,34.850769,-92.337829,333,Arkansas,AR,47,0,0,0.9136,"['allpunct', 'quotmarks', 'allpunct', 'otherpu..."